<div class="container">
  <h1 class="mt-5">Add a new task:</h1>
  <%= form_with model: @task do |f| %>
    <div class="mb-3"><%= f.label :title %>
    <%= f.text_field :title %></div>
    <div class="mb-3"><%= f.label :details %>
    <%= f.text_area :details %></div>
    <%= f.submit %>
  <% end %>

  <div class="mt-5"><%= link_to "Back to tasks", tasks_path %></div>
</div>
